@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.wrapper{
  margin-inline: 10%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.nav{
  display: flex;
  
}

.logoText{
  color: #18214D;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.navText{
  color: #18214D;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  cursor: pointer;
}
.pl{
  padding-left: 64px;
}

.header{
  margin-top: 64px;
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -3px;
  color: #18214D;
  width: 40%;
  
}
.flex{
  display: flex;
  justify-content: center;
}

.paraText{
  width: 38%;
  margin-top: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #3E4462;
}

.searchGroup{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-inline: 10%;
}

.inputGroup{
  display: flex;
  background-color: #DFE4EA;
  border-radius: 8px;
  width: 77%;
  padding: 15px 19.01px;
}
.inputGroup:hover{
  border: 2px solid #000000;
}
.inputBox:focus ~ .inputGroup{
  border: 2px solid #000000;

}
.searchIcon{
  font-size: 20px;
  color: #29335C;
  position: relative;
  top: 5px;
  padding-right: 10.41px;
}
.inputBox{
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #29335C;
  font-size: 20px;
  line-height: 28px;
}

.inputBox:focus {
  outline: none;
  background-color: transparent;

}
.inputBox::placeholder{
  font-size: 20px;
  color: #B1B5C5;
  line-height: 28px;
 
}
.btn{
  background-color: #F3663F;
  border: 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 8px;
  padding-top: 17.4px;
  padding-bottom: 12.6px;
  padding-inline: 29px ;
  cursor: pointer;
}

.btnIcon{
  color: yellow;
  font-size: 20px;
  position: relative;
  top: 3px;
}

.suggestedText{
  color: #3E4462;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.4px;
  text-align: center;
  margin-top: 24px ;

}
.suggestedRow{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.singleSuggested{
  background-color: #29335C;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.4px;
  text-align: center;
  margin-inline: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  
}
.section{
  /* display: none; */
}

.groupLayer{
  width: 100%;
  background-color: #EFF2F6;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-inline: 10%;
}

.groupLayer .inputGroup{
  width: 55%;
}
.groupLayer .logoo{
    padding-top: 10px;
}

.textCenter{
  text-align: center;
  color: #29335C;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 32px;
  

}
.loadingText{
  text-align: center;
  color: #18214D;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #29335C;
  margin-top: 32px;


}

.CommitGroup{
  margin-top: 32px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
}

.userGroup{
  width: 16%;
  
}
.commitFlex{
  display: flex;
  justify-content: space-between;
  width: 63%;
}

.avatar{
  background-color: #C4C4C4;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
}
.userName{
  text-align: center;
  margin-top: 4px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #18214D;
}
.commitMsg{
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #18214D;
  position: relative;
  left: -12%;
  top: 10px
}
.commitDate{
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #18214D;
  position: relative;
  
  top: 13px
}



/* media queries */
@media screen and (max-width: 1440px) {
  .inputGroup{
    width: 70%;
  }
}

@media screen and (max-width: 1370px) {
  .header{
   
    width: 50%;
    
  }
  .paraText{
    width: 45%;
  }
  .commitMsg{
    
    left: -7%;
    
  }
}
@media screen and (max-width: 1200px) {
  .header{
   
    width: 50%;
    
  }
  .commitMsg{
    
    left: 2%;
    
  }
  .paraText{
    width: 45%;
  }
  .wrapper{
    margin-inline: 6%;
  }
  .searchGroup{
   
    margin-inline: 2%;
  }
}
@media screen and (max-width: 1192px ) {
  .groupLayer{
    flex-direction: column;
    
  }
  .groupLayer .inputGroup{
    width: 100%;
    margin-bottom: 10px;
  }
  .logoo{
    text-align: center;
    margin-bottom: 10px;
  }
  .commitFlex{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
  }


  .CommitGroup{
  flex-flow: wrap;
   flex-grow: 2;
  }
  /* .commitDate{
    float: right;
  } */
  

}
@media screen and (max-width: 1024px ) {
  .header{
   
    width: 57%;
    font-size: 65px;
    
  }
  .paraText{
    width: 50%;
  }

  .searchGroup{
    flex-direction: column;
  }
  .groupLayer{
    flex-direction: column;
    
  }

  .groupLayer .inputGroup{
    width: 55%;
  }

  .btn{
    margin-top: 24px;
  }
  .inputGroup{
    width: 100%;
  }
  .inputBox{
    width: 100%;
  }

  .CommitGroup{
    
    padding-inline: 8%;
    
  }
  .commitFlex{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .CommitGroup{
    padding-inline: 3%;
  }
}

@media screen and (max-width: 1000px ) {
  .CommitGroup{
    
    padding-inline: 3%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

}
@media screen and (max-width: 900px ) {
  .header{
   
    width: 60%;
    font-size: 65px;
    
  }
  .paraText{
    width: 55%;
  }
  .groupLayer .inputGroup{
    width: 100%;
    margin-bottom: 10px;
  }
  .button{
    width: 100%;
  }
}
@media screen and (max-width: 768px ) {
  .header{
   
    width: 75%;
    font-size: 65px;
    
  }
  .paraText{
    width: 65%;
  }
  .userGroup{
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

  .avatar{
    height: 30px;
    width: 30px;
    margin-top: 7px;
  }
  .navbar{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .nav{
    justify-content: center;
    margin-top: 16px;
  }
  .pl{
    padding-left: 32px;
  }
  .groupLayer .inputGroup{
    width: 100%;
    margin-bottom: 10px;
  }

  .suggestedRow{
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
  }

  .singleSuggested{
    margin: 10px auto;
  }

  .commitMsg{
    width: 100%;
  }
  .commitDate{
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -45px;
  }
}
@media screen and (max-width: 600px ) {
  .header{
   
    width: 76%;
    font-size: 56px;
    line-height: 62px;
    
  }
  .userGroup{
    display: flex;
    justify-content: space-between;
    width: 25%;
  }
  .paraText{
    width: 80%;
    font-size: 20px;
    line-height: 28px;
  }
  .groupLayer .inputGroup{
    display: none;
  }
  .button{
    display: none;
  }
  .searchGroup{
   
    margin-inline: 5%;
  }
  
}
@media screen and (max-width: 494px ) {
  .header{
   
    width: 96%;
    font-size: 56px;
    line-height: 62px;
    
  }
  .userGroup{
    
    width: 35%;
  }

  .paraText{
    width: 90%;
    font-size: 20px;
    line-height: 28px;
  }
  .wrapper{
    margin-inline: 5%
  }
  .searchGroup{
   
    margin-inline: 2%;
  }
}
@media screen and (max-width: 375px ) {
  .header{
   
    width: 100%;
    font-size: 56px;
    line-height: 62px;
    
  }
  .userGroup{
    
    width: 38%;
  }
  .paraText{
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
  .wrapper{
    margin-inline: 2%
  }
}
@media screen and (max-width: 335px ) {
  .header{
   
    width: 100%;
    font-size: 50px;
    line-height: 52px;
    
  }
  .paraText{
    width: 100%;
    font-size: 18px;
    line-height: 28px;
  }
  .wrapper{
    margin-inline: 2%
  }
}